@using am.kon.projects.marktguru_test.Models.Products

@model ProductDetailedModel

@{
    ViewData["Title"] = "Delete Product";
}

<div class="container">
    <div class="row bg-light">
        <div class="col col-lg-2">
            <a class="btn" asp-area="" asp-controller="Products" asp-action="Index">Back</a>
        </div>
    </div>
</div>

<hr/>
<h4>Delete Product</h4>
<hr/>

<div asp-validation-summary="All" class="text-danger" role="alert"></div>

@if (Model != null)
{
    <form id="createProduct" asp-action="DeleteProduct" asp-controller="Products" method="post">
        <div class="container">
            <div class="row">
                <div class="col alert alert-danger">
                    <label>Are you sure you want to delete selected product ?</label>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col col-3">
                    <label asp-for="Id"></label>
                </div>
                <div class="col col-9">
                    <label class="form-control">@Model.Id</label>
                </div>
            </div>
            <div class="row">
                <div class="col col-3">
                    <label asp-for="Name"></label>
                </div>
                <div class="col col-9">
                    <label class="form-control">@Model.Name</label>
                </div>
            </div>
            <div class="row">
                <div class="col col-3">
                    <label asp-for="Available"></label>
                </div>
                <div class="col col-9">
                    <label class="form-control">@Model.Available</label>
                </div>
            </div>
            <div class="row">
                <div class="col col-3">
                    <label asp-for="Price"></label>
                </div>
                <div class="col col-9">
                    <label class="form-control">@Model.Price</label>
                </div>
            </div>
            <div class="row">
                <div class="col col-3">
                    <label asp-for="Description"></label>
                </div>
                <div class="col col-9">
                    <label class="form-control">@Model.Description</label>
                </div>
            </div>
            <div class="row">
                <div class="col col-3">
                    <label asp-for="DateCreated"></label>
                </div>
                <div class="col col-9">
                    <label class="form-control">@Model.DateCreated</label>
                </div>
            </div>
            <div class="row">
                <div class="col col-3">
                    <label asp-for="Version"></label>
                </div>
                <div class="col col-9">
                    <label class="form-control">@Model.Version</label>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Delete</button>
        <a class="btn btn-lg btn-light" asp-area="" asp-controller="Products" asp-action="Index">Cancel</a>
    </form>
}